body {
	background: #5C6C8D;
	color: white;
	font-family: 'RobotoRegular', Arial, sans-serif;
	transition: all 1s;
}

* input {
    color: #888;
    padding: 6px;
    margin-right: 10px;
}

#root {
	padding: 10px 20px;
	width: 90%;
	margin: 0 auto;
	background: #7d9ee557;
	border-radius: 5px;
	box-shadow: 4px 4px 3px #3b3d415e;
}
/******** Header ********
===============================*/
.header {
	    padding: 5px 16px;
    background: #03a9f4;
    border-radius: 3px;
    padding-bottom: 10px;
}

.header:after {
	content: " ";
	display: table;
	clear: both;
}
/* Counter */
.counter {
	float:left;
}
.counter h2 {
	font-family: 'RobotoLight';
	letter-spacing: 2px;
}

/* AutorizationPage */
.autorizationPage {
	float: right;

}

.autorizationPage span {
    font-family: 'RobotoLight';
    font-size: 20px;
}

.btn {
    border: none;
    padding: 5px 23px;
    color: #fff;
    font-size: 19px;
    font-family: 'RobotoLight';
    box-shadow: 0px 2px 1px #607D8B;
    margin: 5px;
    background: #888;
}
/*modalBlock*/
.modal {
padding: 100px;
position: relative;
}

.modalBlock {
	position: absolute;
	left: 25%;
	top: 19%;
	clear: both;
	z-index: 100;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 0px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 1px 0px rgb(78,93,72);
}

.modalBlock h1 {
	background: rgb(92,108,141);
	padding: 0px;
	margin: 56px 35px;
	border-radius: 4px;
	text-align: center;
	font-size: 27px;
	letter-spacing: 4px;
}

.modalBlock button {
	width: 50%;
	border: none;
	height: 69px;
}

.modalBlock button.accept {
	background: #e77979;
	float: left;
	border-radius: 0px 0px 0px 5px;
}

.modalBlock button.reject {
	background: #56C590;
	float:right;
	border-radius: 0px 0px 5px 0px;
}

.modalBlock button span {
	background: white;
	border-radius: 5px;
	padding: 5px 42px;
	font-family: 'Roboto-Regular';
	font-size: 24px;
}

.modalBlock button:hover {
	background: #92BAE5;
}

.modalBlock .exit {
	margin-top: -13px;
	color: #5C6C8D;
	font-size: 24px;
	float: right;
	padding-right: 10px;
}

.userData {
	font-size: 22px;
	float: right;
	margin: 10px;
}

.userData ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.userData li {
  border-bottom: 1px dotted #fff;
  margin-bottom: 3px;
}

/******** Article ********
===============================*/
.article {
	overflow: hidden;
}
/*Timer*/

.timer {
	float: left;
}